<style>



</style>

{% if info == '1 Cuestionario inicial' %}

    <h5>Cuestionario inicial</h5>

{% elseif info == '2 Reserva autoevaluaci贸n' %}


{% elseif info == '3 Espera resultados autoevaluaci贸n' %}

    <p>A la espera de la confimaci贸n de su cita.</p>

{% elseif info == '4 Explicaci贸n videoconferencia' %}

    <p>4</p>

{% elseif info == '5 Material entrenamiento' %}

    <p>5</p>

{% elseif info == '6 Examen' %}

    <p>6</p>

{% elseif info == '7 Reserva entrenamientos' %}

    <p>7</p>

{% elseif info == '8 Videos' %}

    <p>8</p>

{% elseif info == '9 Horario talleres' %}

    <p>9</p>

{% else %}

    <p>10</p>

{% endif %}
<br>
 