{% extends 'base.html.twig' %}

{% block body %}

    {{ include('components/navbar.html.twig') }}

    <img src="images/fondos/portadaRetos.jpg" style="object-fit: cover;width:100%;height:500px" alt=""><br><br>

    <h4 style="text-align:center;">Startups</h4><br>

    <img src="images/fondos/startupsRetos.png" style="object-fit:cover; width:100%; height:686px" alt=""><br><br>

    <h4 style="text-align:center;">Inventos</h4><br>

    <img src="images/fondos/inventosRetos.png" style="object-fit:cover; width:100%; height:686px" alt="">

    {{ include('components/footer.html.twig') }}

{% endblock %}